PORT=3000
AWS_REGION=your_region
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
S3_COUNTRIES_BUCKET=your_countries_bucket_name
S3_EVENTS_BUCKET=your_events_bucket_name
DYNAMODB_USERS_TABLE=your_users_table_name
COGNITO_USER_POOL_ID=your_cognito_user_pool_id
COGNITO_CLIENT_ID=your_cognito_app_client_id
